/*.CodeMirror-hints-contextInfo {
  position: absolute;
  z-index: 10;
  overflow: hidden;

  margin: 0;
  padding: 2px 10px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid black;

  background: #FFFFE1;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}*/

.CodeMirror-hints-contextInfo {
  position: absolute;
  z-index: 10;
  border : double rgb(212, 208, 200) 3px;
  max-height: 200px;
  max-width: 400px;
  min-width: 400px;
  overflow: auto;
  background: #FFFFE1;
  font-family: Tahoma;
  font-size: 12px;
  padding: 5px;
}
