[submodule "pack/profile"]
	path = pack/profile
	url = https://github.com/JanWielemaker/profile.git
[submodule "pack/smtp"]
	path = pack/smtp
	url = https://github.com/JanWielemaker/smtp.git
[submodule "pack/rserve_client"]
	path = pack/rserve_client
	url = https://github.com/JanWielemaker/rserve_client
