div.chatroom
{ width: 100%;
  height: 100%;
  position: relative;
}

div.chatroom span.glyphicon
{ position: absolute;
  font-size: 1.5em;
  top: 5px;
  right: 5px;
  opacity: 0.2;
}

div.chatroom span.glyphicon:hover
{ opacity: 0.8;
}

div.chat-conversation
{ width: 100%;
  height: calc(100% - 3em);
  overflow: auto;
  padding: 5px;
}

div.chat-input
{ border-top: 1px solid #888;
  width: 100%;
  height: 3em;
  padding: 5px;
}

textarea.chat-input
{ resize:none;
  width: calc(100% - 4em);
  height: 100%;
  border: 0px;
}

div.chatroom button
{ position: absolute;
  bottom: 5px;
  right: 5px;
}

div.chatroom div.chat-message
{ position:relative;
  font-size: 90%;
  margin-right: 10%;
  margin-bottom: 1ex;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
}

div.chatroom div.chat-message.self
{ margin-right: 0px;
  margin-left: 10%;
}

div.chat-message img.avatar
{ position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 5px;
  width: 24px;
}

span.chat-sender
{ font-weight: bold;
  color: #4888be;
}

span.chat-sender::after
{ content: ": ";
}
