div.notification
{ display: inline-block;
  position: absolute;
  min-width: 10em;
  background: #cff;
  padding: 5px 1em;
  display: none;
}

a.dropdown-toggle.avatar
{ padding: 4px;
}

img.avatar
{ width: 42px;
}

/* http://www.cssarrowplease.com/ */

.notify-arrow {
	background: #cff;
	border: 1px solid #888;
        border-radius: 5px;
        box-shadow: 6px 6px 3px #aaa;
}
.notify-arrow:after, .notify-arrow:before {
	bottom: 100%;
	right: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
.notify-arrow:after {
	border-color: rgba(192, 255, 255, 0);
	border-bottom-color: #cff;
	border-width: 14px;
	margin-left: -14px;
}
.notify-arrow:before {
	border-color: rgba(128, 128, 128, 0);
	border-bottom-color: #888;
	border-width: 15px;
	margin-left: -15px;
}
