/* from http://stackoverflow.com/questions/275931/how-do-you-make-an-element-flash-in-jquery
*/

.flash {
  animation: flash 2s ease-out 1;

  -webkit-animation: flash 2s ease-out 1;
}

@-webkit-keyframes flash {
    from { background-color: #ffa; }
    to   { background-color: #fff; }
}

@keyframes flash {
    from { background-color: #ffa; }
    to   { background-color: #fff; }
}
