/* Style for the SWISH notebook
*/

.nb-titlebar, .nb-toolbar, .nb-content, .nb-cell
{ margin-left: 1em;
}

.nb-title
{ font-size: 250%;
}

.nb-toolbar
{ padding-bottom: 0.3em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.dropdown.cell-type
{ display: inline;
}

.nb-cell
{ margin-right: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nb-cell.active
{ border: 1px solid #888;
}
