html, body {
  width:100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

nav.navbar { margin-bottom: 0px; }

#content { width: 100%; height: calc(100% - 55px);
	   padding: 0px;
	   background-color: white;
	 }

/* Tool panes */

.pane-container, .pane-wrapper { width:100%; height:100%;
				 background-color: white: green
			       }
.splittable { background-color: white; width:100%; height:100%; padding: 5px; }
