div.prolog-runners {
  width: 100%; height: 100%;
  background-image: url("../icons/owl_25_years.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 35% 50%;
  overflow: auto;
  padding: 0px 5px 0px;
}

div.prolog-runner {
  position: relative;
  padding: 2px 0px 2px;		/* top,left/right,bottom */
  margin: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.prolog-runner.tabled {
  border: 0px;
}

div.prolog-runner > div.runner-title.runner-button-group {
  color: #fff;
  background: #000;
  display: none;
  border: 2px solid #fff;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  box-shadow: -6px 6px 5px #888888;
}

div.prolog-runner.tabled > div.runner-title.runner-button-group {
  top: 2px;
}

div.prolog-runner:hover > div.runner-title.runner-button-group {
  display: block;
}

div.runner-title.runner-button-group > button {
  color: #fff;
  opacity: 0.8;
  text-shadow: 0 1px 0 #000;
}

div.runner-title.runner-button-group > button:hover {
  opacity: 1;
}

div.prolog-runner:focus {
  outline: none;
}

div.prolog-runner.iconic > div.runner-results { display: none; }

div.runner-title {
  padding: 0px 5px 0px;
  border: 2px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}

div.prolog-runner:focus div.panel-heading {
  border: 2px solid #000;
}

div.runner-results {
  padding: 2px 0px 2px 0px;
  background-color: #fff;
  border-radius: 5px;
}

span.answer-no  { float: right; color: #060; font-size: 80%; margin-right: 2px;
		  font-style: italic;
		}
div.answer	{ padding-left: 5px; border-radius: 5px; }
div.answer.even { background-color: #eee; }
div.answer.odd  { background-color: #fff; }
div.response    { font-style: italic; color: blue; font-size: 90%;
		  margin-left: 10%;
		  background-color: #eee;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  padding: 0px 5px;
		}
span.prolog-true  { font-weight: bold; }
span.prolog-false { font-weight: bold; color: red;}
div.cputime     { text-align: right; }
div.cputime span{ background-color: #ccc;
		  border-radius: 5px;
		  border: 1px solid #888;
		  padding: 0px 5px;
		  font-size: 80%;
		  font-style: italic;
		  color: #060;
		}

span.runner-state {
  position: relative;
  top: 2px;
  width:  1.5em;
  height: 1.5em;
  margin-right: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

div.runners-menu {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 2000;
}

div.runner-title button.dropdown-toggle {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}

div.runner-title > button {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  padding: 3px 0px;
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
  margin-left: 5px;
}

div.runner-title > button.rtb-toggleIconic
{ padding: 6px 0px 0px 0px;
}

div.runner-title > button:hover {
  opacity: 0.8;
}

span.runner-state.idle,
span.runner-state.wait-next,
span.runner-state.wait-input { background-image: url("../icons/logo.png");    }
span.runner-state.wait-debug { background-image: url("../icons/debug.png");   }
span.runner-state.running    { background-image: url("../icons/running.gif"); }
span.runner-state.true,
span.runner-state.stopped,
span.runner-state.false      { background-image: url("../icons/dead.png");    }
span.runner-state.error,
span.runner-state.aborted    { background-image: url("../icons/error.png");   }

div.controller.running    > span.running    { display:inline; }
div.controller.running    > span.sparklines { display:inline; }
div.controller.wait-next  > span.sparklines { display:inline; }
div.controller.wait-next  > span.wait-next  { display:inline; }
div.controller.wait-input > span.wait-input { display:inline; }
div.controller > span                       { display:none;  }

span.wait-input button { float: right; box-sizing: border-box; }
span.wait-input span   { display: block; overflow: hidden; }
span.wait-input input  { width: 100%; box-sizing: border-box; }

/* print-message output */

pre.prolog-message {
  white-space: pre-wrap;
  padding: 2px 2px;
  margin: 0;
  width: 100%;
}

span.output.error-context {
  display: block;
  position: relative;
  padding-left: 25px;
}

span.output.error-context:hover {
  text-decoration: underline;
}

span.output.error-context > span.glyphicon {
  position: absolute;
  top: 5px;
  left: 5px;
}

a.goto-error:hover {
  text-decoration: none;		/* ignored inside <pre>? */
  outline: 2px solid #337ab7;
}

pre.msg-information   { color: #060; font-style: italic; }
pre.msg-informational { color: #060; font-style: italic; }
pre.msg-warning       { color: red; }
pre.msg-error         { color: red; font-weight: bold}

/* Deal with tabled output */

table.prolog-answers    { width: 100%; }
table.prolog-answers td { padding: 0px 5px; border: 1px solid #888; vertical-align: top; }
table.prolog-answers th { padding: 0px 5px; border: 1px solid #888; text-align: center;}

table.prolog-answers tr:nth-child(odd)  { background-color: #eee; }
table.prolog-answers tr:nth-child(even) { background-color: #fff; }
table.prolog-answers tr.projection      { border-bottom: 2px solid #333; }
tr.projection th.pl-pvar { color: #800; font-weight: bold; }
tr.projection th.residuals { color: #888; font-weight: normal; font-style:italic;}
.answer-nth { width: 2ex; text-align: right;}
th.answer-nth { color: #888; font-weight:normal; font-style:italic;
	      }
td.answer-nth { color: #060; font-size: 80%; font-style: italic;
		background-color: #eee;
		vertical-align: top;
	      }

/* The debugger */

div.trace-buttons button > span { display: none; }
div.trace-buttons button, div.RIP
{ display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: 5px;
}

button.nodebug  { background-image: url("../icons/continue.png"); }
button.continue { background-image: url("../icons/stepInto.png"); }
button.skip     { background-image: url("../icons/stepOver.png"); }
button.up       { background-image: url("../icons/stepOut.png"); }
button.retry    { background-image: url("../icons/retry.png"); }
button.abort    { background-image: url("../icons/abort.png"); }

div.RIP	{ background-image: url("../icons/rip.png");   }


span.depth
{ display: inline-block;
  font-weight: bold;
  background-image: url("../icons/depth.png");
}

span.port
{ font-weight: bold;
  padding-right: 0.5ex;
  margin-right: 0.5ex;
  background-color: #ccf;
  display: inline-block;
  width: 11ex;
  text-align: right;
  border-radius: 5px;
}

span.port.fail { color: #f00; }
span.port.redo { color: #ff0; }
span.port.exit { color: #0c0; }
span.port.exception { color: #f0f; }

div.prolog-exception
{ color: #f00;
  font-size: 80%;
  margin-left: 5em;
}

div.controller.running > span.sparklines { margin-left: 0.5em; }

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
