div.sourcelist
{ margin: auto;
  width: 90%;
}

div.sourcelist span.dropdown-icon
{ margin-left: 5px;
}

div.search-footer > button > label
{ margin-left: 5px;
  margin-right: 5px;
}

div.search-footer
{ text-align: center;
}
