@import url("navbar.css");
@import url("pane.css");
@import url("tabbed.css");
@import url("editor.css");
@import url("query.css");
@import url("runner.css");
@import url("answer.css");
@import url("term.css");
@import url("gitty.css");
@import url("../bower_components/jquery.splitter/css/jquery.splitter.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/tagmanager/tagmanager.css");
@import url("../bower_components/c3/c3.css");
@import url("typeaheadjs.css");
@import url("diffview.css");
@import url("notebook.css");
@import url("types.css");
@import url("modal.css");
@import url("form.css");
@import url("login.css");
@import url("chat.css");
@import url("chatroom.css");
@import url("chatbell.css");
@import url("flash.css");
@import url("sourcelist.css");

/* Logos */

a.pengine-logo {
  position:absolute;
  top:4px;
  left:4px;
  width: 42px;
  height: 42px;
  background-image: url("../icons/logo.png");
  background-size: 100%;
}

/* jQuery splitter overrules.
   - z-index is too high for text hover
   - overflow: auto clip menus
*/

.splitter_panel .vsplitter, .splitter_panel .hsplitter {
    z-index: 100;
    border: 2px outset #ccc;
}

.splitter_panel .vsplitter { width: 3px; }
.splitter_panel .hsplitter { height: 3px; }

.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel,
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
    overflow: visible;
}

/* Modal */

body .modal-dialog {
  width: 80%;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
}

body .modal-dialog.modal-wide {
  width: 90%;
  max-width: none;
}

body .modal-dialog.swish-embedded-manual {
  width: 90%;
  max-width: 1000px;
}

body .modal-dialog.swish-embedded-manual div.modal-body {
  padding: 0px;
}

iframe.swish-embedded-manual {
  width: 100%;
  border: 0px;
}
